*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#F5EEDC;
font-family:Poppins,sans-serif;
padding:30px;

}

header{

display:flex;
justify-content:center;
align-items:center;
position:relative;
margin-bottom:30px;

}

h1{

font-family:"Poppins",cursive;
font-size:55px;
color:#4B2E1E;

}

#lockBtn{

position:absolute;
right:0;
width:60px;
height:60px;
border:none;
border-radius:50%;
background:#E9D3A3;
font-size:28px;
cursor:pointer;
transition:.25s;

}

#lockBtn:hover{

transform:scale(1.08);

}

.controls{

display:flex;
gap:20px;
margin-bottom:25px;
flex-wrap:wrap;

}

.controls input{

flex:1;
padding:15px;
border-radius:40px;
border:2px solid #C8A97E;
font-size:18px;
outline:none;

}

.controls select{

padding:15px;
border-radius:40px;
border:2px solid #C8A97E;
font-size:17px;
background:white;

}

.card{

background:white;
border-radius:25px;
padding:25px;
margin-bottom:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.15);

border-left:7px solid #D9A404;

transition:.2s;

}

.card:hover{

transform:translateY(-3px);

}
.subject{

font-family:"Poppins",cursive;

font-size:34px;

color:#3F2B20;

margin-bottom:10px;

}

.details{

font-size:18px;
margin-top:8px;

}

.due{

margin-top:15px;
color:#666;

}

.popup{

display:none;

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:rgba(0,0,0,.45);

justify-content:center;
align-items:center;

}

.popupBox{

background:#F8F1E3;

width:430px;

padding:35px;

border-radius:25px;

position:relative;

text-align:center;

}

.popupBox h2{

font-family:"Poppins";

font-size:42px;

margin-top:15px;

margin-bottom:10px;

}

.popupBox p{

margin-bottom:25px;

}

.lockIcon{

width:90px;
height:90px;

background:#F1DEB2;

display:flex;

justify-content:center;
align-items:center;

font-size:45px;

border-radius:50%;

margin:auto;

}

.popup input{

width:100%;

padding:15px;

border-radius:40px;

border:2px solid #D5A54A;

font-size:18px;

margin-bottom:20px;

}

.popup button{

width:100%;

padding:15px;

border:none;

background:#E7B618;

font-size:18px;

font-weight:bold;

border-radius:40px;

cursor:pointer;

}

.popup button:hover{

background:#DDA700;

}

.close{

position:absolute;

right:20px;
top:10px;

font-size:35px;

cursor:pointer;

}

@media(max-width:700px){

h1{

font-size:35px;

}

.controls{

flex-direction:column;

}

#lockBtn{

width:50px;
height:50px;

}

.popupBox{

width:90%;

}

}